<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trump Ethics Monitor: {{ promise.title }}</title>

    {% if not DEBUG %}
    <script>
    window.location = '{{ SEAMUS_URL }}?promise={{ promise.slug }}';
    </script>
    {% endif %}

    {# Twitter #}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ twitter_handle }}">
    <meta name="twitter:image" content="https:{{ S3_BASE_URL}}/assets/{{ promise.social_image }}" />

    {# Facebook #}
    <meta property="og:title" content="Trump Ethics Monitor | {{ promise.title }}" />
    <meta property="og:url" content="https:{{ S3_BASE_URL }}/share/{{ promise.slug }}.html" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="We're tracking President Trump's 10 ethics-related promises. This is one of {{ total }} that {{ category }}" />
    <meta property="og:image" content="https:{{ S3_BASE_URL}}/assets/{{ promise.social_image }}" />
    <meta property="og:site_name" content="NPR.org" />
    <meta property="fb:app_id" content="138837436154588" />

    {# Google News #}
    <meta name="thumbnail" content="https:{{ S3_BASE_URL}}/assets/{{ promise.social_image }}" />
</head>

<body>
</body>

</html>
